<div class="flex-container">
  <div class="contact-box">
    <p class="contact-header">Contact Info</p>
    <p class="contact-text">7 Noelle Adams</p>
    <p class="contact-text">6351 Fringilla Avenue</p>
    <br class="minor-break" />
    <p class="contact-text">Opening Hours:</p>
    <p class="contact-text">Mon-Thr: 9:00-20:00</p>
    <p class="contact-text">Fr: 12:00-02:00</p>
    <br class="major-break" />
    <p>Tel. 555-111-222</p>
    <button class="contact-button">Find on map</button>
  </div>
</div>
