<app-navbar></app-navbar>
<section id="aboutSection" class="content-section">
  <app-about></app-about>
</section>
<section class="content-section">
  <app-about-description></app-about-description>
</section>
<section class="content-section menu">
  <app-menu></app-menu>
</section>
<section class="content-section menu-img">
  <app-menu-img></app-menu-img>
</section>
<section class="content-section">
  sample section
</section>
<section class="content-section">
  sample section
</section>
<section class="content-section">
  sample section
</section>
