<div class="flex-container">
  <div class="flex-row">
    <div class="flex-column">
      <p class="about-header">About us</p>
      <p class="about-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum illo
        praesentium nemo optio, facere voluptatum corporis nihil voluptatibus
        cum id sit odio, molestias aut laboriosam ipsa perferendis fuga totam
        libero, natus doloremque. Voluptatibus ad totam aperiam deserunt magnam
        sint consequatur, cumque adipisci pariatur sapiente sed, tempore
        dolorum! Repellendus, dolore nam.
      </p>
      <p class="about-text second">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum illo
        praesentium nemo optio, facere voluptatum corporis nihil voluptatibus
        cum id sit odio, molestias aut laboriosam ipsa perferendis fuga totam
        libero, natus doloremque. Voluptatibus ad totam aperiam deserunt magnam
        sint consequatur, cumque adipisci pariatur sapiente sed, tempore
        dolorum! Repellendus, dolore nam.
      </p>
    </div>
    <div class="flex-column">
      <div class="img-col">
        <img
          class="img-about first"
          src="../../../assets/restaurant-449952_1280.jpg"
        />
        <img
          class="img-about second"
          src="../../../assets/restaurant-690975_1280.jpg"
        />
      </div>
    </div>
  </div>
</div>
