<div class="flex-container">
  <div class="flex-row">
    <div class="flex-column">
      <p class="catering-header">Catering</p>
      <p class="catering-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
        dolorum at soluta debitis quae, culpa quisquam reiciendis, voluptatibus
        nulla rerum earum illum deleniti ex! Quibusdam eligendi sit itaque
        laboriosam repellat iure voluptatibus quisquam totam vero, dolore
        dignissimos deleniti! Nobis quo autem iure sunt et magni eveniet
        assumenda expedita consequatur ipsam.
      </p>
      <br class="break" />
      <p class="catering-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
        dolorum at soluta debitis quae, culpa quisquam reiciendis, voluptatibus
        nulla rerum earum illum deleniti ex! Quibusdam eligendi sit itaque
        laboriosam repellat iure voluptatibus quisquam totam vero, dolore
        dignissimos deleniti! Nobis quo autem iure sunt et magni eveniet
        assumenda expedita consequatur ipsam.
      </p>
      <br class="break" />
      <p class="catering-contact-text">
        Call us at <span class="catering-number">555-111-333</span> to get more
        information!
      </p>
      <br class="break" />
      <button class="catering-img-button">Order online</button>
    </div>
    <div class="flex-column center-col">
      <img
        class="img-catering first"
        src="../../../assets/coffee-2425303_1280.jpg"
      />
      <img
        class="img-catering second"
        src="../../../assets/bar-1869656_1280.jpg"
      />
      <img
        class="img-catering third"
        src="../../../assets/woman-3083379_1280.jpg"
      />
    </div>
  </div>
</div>
