<div class="flex-container">
  <div class="flex-row">
    <div class="flex-column">
      <p class="menu-header">Menu</p>
    </div>
  </div>
  <div class="flex-row sub-header">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur rerum
      fugiat eius et optio repudiandae tempora ipsam illo deserunt libero
      deleniti, ut commodi adipisci at ab eum ipsum consequatur nihil nesciunt
      dolorum asperiores esse repellat.
    </p>
  </div>
  <div class="flex-row menu-items">
    <div class="menu-col">
      <p class="menu-col-header">Soups</p>
      <div class="menu-item">
        <img class="menu-item-img" src="../../../assets/soup-1503117_640.jpg" />
        <p class="menu-item-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque,
          accusantium voluptate necessitatibus voluptas sequi at.
        </p>
      </div>
      <div class="menu-item">
        <img class="menu-item-img" src="../../../assets/soup-4115245_640.jpg" />
        <p class="menu-item-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque,
          accusantium voluptate necessitatibus voluptas sequi at.
        </p>
      </div>
      <div class="menu-item">
        <img
          class="menu-item-img"
          src="../../../assets/pumpkin-soup-1768678_640.jpg"
        />
        <p class="menu-item-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque,
          accusantium voluptate necessitatibus voluptas sequi at.
        </p>
      </div>
    </div>
    <div class="menu-col">
      <p class="menu-col-header">Main Dishes</p>
      <div class="menu-item">
        <img class="menu-item-img" src="../../../assets/food-712665_640.jpg" />
        <p class="menu-item-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque,
          accusantium voluptate necessitatibus voluptas sequi at.
        </p>
      </div>
      <div class="menu-item">
        <img
          class="menu-item-img"
          src="../../../assets/breakfast-690128_1280.jpg"
        />
        <p class="menu-item-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque,
          accusantium voluptate necessitatibus voluptas sequi at.
        </p>
      </div>
      <div class="menu-item">
        <img
          class="menu-item-img"
          src="../../../assets/breakfast-1246686_640.jpg"
        />
        <p class="menu-item-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque,
          accusantium voluptate necessitatibus voluptas sequi at.
        </p>
      </div>
    </div>
    <div class="menu-col">
      <p class="menu-col-header">Desserts</p>
      <div class="menu-item">
        <img class="menu-item-img" src="../../../assets/ice-1786311_640.jpg" />
        <p class="menu-item-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque,
          accusantium voluptate necessitatibus voluptas sequi at.
        </p>
      </div>
      <div class="menu-item">
        <img
          class="menu-item-img"
          src="../../../assets/bananas-282313_640.jpg"
        />
        <p class="menu-item-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque,
          accusantium voluptate necessitatibus voluptas sequi at.
        </p>
      </div>
      <div class="menu-item">
        <img class="menu-item-img" src="../../../assets/cake-1971552_640.jpg" />
        <p class="menu-item-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque,
          accusantium voluptate necessitatibus voluptas sequi at.
        </p>
      </div>
    </div>
  </div>
</div>
